@use "sass:color";

$main-color: #0c4475;
$main-color-lighter: #2c6495;
$btn-default-color: #2a7aae;

body, #app {
    font-family: 'Open Sans', sans-serif;
    background: #f6f7f9;
}

//TOP LINKS AND LOGO

.landing-top-container {
    //background-image: url('../../public/images/landing-bg.jpg');
    background-size: cover;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
}

//INFO/TEXT AREA

.landing-info-area {
    padding: 30px 30px 30px 30px;
    color: #fff;
    max-width: 1400px;
    margin: 0 auto;
    z-index: 10;
    position: relative;
    text-align: left;
    h1 {
      font-size: 50px !important;
      font-weight: 600 !important;
      line-height: 100% !important;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      @media screen and (max-width: 600px) {
        font-size: 30px;
      }
    }
    .description-text {
        font-size: 15px;
        width: 100%;
        //max-width: 1000px;
        margin: 30px 0 0 0;
        line-height: 160%;
        p {
            margin-bottom: 15px;
        }
        a {
          color: #fff;
          text-decoration: underline;
        }
    }
    .landing-info-btn {
        margin: 50px 0 -100px 0;
    }
}
.landing-cta-container {
    position: relative;
    //background-image: url('../../public/images/landing-bg-corner.png');
    background-size: cover;
    background-position: left top;
    width: 100%;
    height: 300px;
    .landing-cta-text {
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        .landing-cta-text-inner {
            text-align: right;
            max-width: 1400px;
            margin: 0 auto;
            padding: 0px 30px 30px 30px;
            @media screen and (max-width: 400px) {
              padding: 0px 20px 20px 20px;
            }
        }
    }
    .landing-cta-text-main {
        font-size: 30px;
        color: color.adjust(#e51f5c, $lightness: 3%);
        font-weight: 600;
        @media screen and (max-width: 650px) {
            font-size: 24px;
        }
        @media screen and (max-width: 400px) {
          font-size: 18px;
          margin-bottom: 10px;
        }
    }
    .landing-cta-text-secondary {
        font-size: 24px;
        color: #fff;
        font-weight: 500;
        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
        @media screen and (max-width: 400px) {
          font-size: 14px;
        }
    }
}


//BOXES

.landing-grid-container {
    max-width: 1400px;
    margin: 0 auto;
}
.platform-boxes-container {
    padding: 30px 0px 70px 0;
}
.platform-boxes-container {
  @media screen and (max-width: 1500px) {
    max-width: 95% !important;
  }
}
.platform-box {
    margin: 15px 0;
    background: #fff;
    position: relative;
    padding-bottom: 40px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.05);
    &.divider {
      background: none;
    }
    .platform-box-img {
      width: 100%;
    }
    .platform-box-text-container {
        padding: 20px 15px 30px 15px;
    }
    .platform-box-title {
        font-size: 20px;
        font-weight: 800;
        color: $main-color;
        text-align: left;
        @media screen and (min-width: 768px) and (max-width: 1000px) {
          font-size: 16px;
        }
    }
    .platform-box-subtitle {
      font-size: 16px;
      font-weight: 600;
      color: #2a7aae;
      text-align: left;
    }
    .platform-box-description {
        font-size: 14px;
        text-align: left;
        margin-top: 15px;
        min-height: 110px;
        @media screen and (min-width: 768px) and (max-width: 1200px) {
          min-height: 130px;
        }
        @media screen and (min-width: 768px) and (max-width: 1000px) {
          font-size: 12px;
          margin-top: 10px;
        }
    }
    .platform-box-link {
        position: absolute;
        bottom: 15px;
        right: 15px;
        padding: 5px 0px;
        a {
          text-decoration: none;
          display: block;
          margin-top: 5px;
        }
    }
}

.platform-divider {
  margin: 40px auto 40px auto;
  text-align: left;
  .platform-divider-title {
    font-size: 26px;
    color: #496f90;
    font-weight: 600;
    @media screen and (max-width: 1100px) {
      font-size: 20px;
    }
    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
  }
  .platform-divider-subtitle {
    text-transform: uppercase;
    font-size: 18px;
    max-width: 800px;
    font-weight: 600;
    color: #113555;
    margin-top: 10px;
    line-height: 130%;
    @media screen and (max-width: 1100px) {
      font-size: 16px;
    }
    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 150%;
    }
  }
}

//BUTTONS

.landing-btn {
    border-radius: 0px;
    border: none;
    color: #fff;
    background: #135288;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: .4s all;
    text-decoration: none;
    cursor: pointer;
    i {
        vertical-align: middle;
        margin-left: 5px;
        margin-right: -5px;
        font-size: 22px;
        position: relative;
        top: -1px;
    }
    &:hover {
        background: #034278;
        color: #fff;
        text-decoration: none;
    }
}

//FOOTER
footer {
    background: #e3e7ef;
    .footer-inner {
        max-width: 1400px;
        margin: 0 auto;
        padding: 30px;
        font-size: 13px;
        color: #333;
        text-align: center;
        a {
            color: #222;
            text-decoration: underline;
        }
    }
    .footer-credits {
      margin-top: 15px;
    }
}